<h2>The Road less taken</h2>


<%= form_for @article do |f| %>
	<p>
		<%= f.label :title %> <br>
		<%= f.text_field :title %>
	</p>
	
	<p>
		<%= f.label :description %> <br>
		<%= f.text_area :description %> <!-- text_area actually means more area needed expecially for description -->
	</p>

	<p>
		<%= f.submit %>
	</p>
<%end%>